<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data form finalmmo MongoDB</title>
  </head>
  <body>
    <h2><%=message%></h2>
    <% if (Array.isArray(users) ) { %>
      <ul>
         <%users.forEach( function( user) { %>
        <b>
        <li><%= user.Id %> ; <%= user.name %> ; $<%= user.player_type %></li>
        </b>
        <% })} else { %>
        <b>
        Id: <%= user.prdId %>
        Name: <%= user.name %>
        Player_type: $<%= user.player_type %>
        </b>
        <% }; %>
  </body>
</html>
